<section id="personalprojects" class="{% cycle '', 'bg-light-gray' %}">
<div class="container">
        <div class="row">
            <div class="col-lg-12 text-center" style="position: relative;top: -20px;">
                <h2 class="section-heading">Personal Projects</h2>
                <h3 class="section-subheading text-muted">Technology is moving to fast for us to keep up. An eager learner, I pride myself on my ability to successfully take on new challenges and develop ever-expanding areas of expertise.  </h3> 
            </div>
        </div>
    </div>
          <div class="row" style="position: relative;left: 180px; top: -35px">
            <div class="one-third column">
              <div class="expertise-block wow"><img src="img/perproj/1.jpg" style="width: 300px; height: 300px;">
                <p class="description">This project is using a Kinect (from Microsoft) sensor and its infrared and RGB camera components to keep track of the driver's motion. 
                
                </p>
                <a href="http://kin19717.wixsite.com/kinsontsui/distracted-driver-detector" target="_blank" class="button button-primary" style="position: relative; bottom: -23px;">Check it out</a>
              </div>
            </div>
            <div class="one-third column">
              <div class="expertise-block"><img src="img/perproj/2.jpg" style="width: 300px; height: 300px;">
                <p class="description">Using the Kinect depth camera we developed a skeleton tracking program which was later developed into finding the two closest points to the camera. .</p><a href="http://kin19717.wixsite.com/kinsontsui/blank" target="_blank" class="button button-primary">Check it out</a>
              </div>
            </div>
            <div class="one-third column">
              <div class="expertise-block"><img src="img/perproj/3.jpg" style="width: 300px; height: 300px;">
                <p class="description">This android application allows users to select and review from a variety of recipes. Users may also choose to enter their list of current ingredients to search up other recipes.</p>
                <a href="http://kin19717.wixsite.com/kinsontsui/andriod-app---easy-chef" target="_blank" class="button button-primary">Check it out</a>
              </div>
            </div>
          </div>
        </div>
      </section>