<section id="projects" class="{% cycle '', 'bg-light-gray' %}">
<div class="container">
        <div class="row">
            <div class="col-lg-12 text-center" style="position: relative;top: -20px;">
                <h2 class="section-heading">My Work</h2>
                <h3 class="section-subheading text-muted">Want to see more examples? <a href="mailto:kinkwantsui@gmail.com">Email me</a>.</h3> 
            </div>
        </div>
    </div>


      <section class="project-showcase">
            <div class="row">
              <div class="six columns u-pull-right" style="position: relative; top: -50px; ">
              <img src="img/projects/os.jpg" class="project-image" style="width: 500px; "></div>
              <div class="six columns u-pull-left " style="position: relative;left: 260px;">
                <div class="project-content text-left">
                  <h3 class="project-title">Cloud virtualized IP Multimedia Subsystem (vIMS)</h3>
                  <ul class="project-tags">
                    <span class="skill">Openstack</span>
                    <span class="skill">Linux</span>
                    <span class="skill">Yaml</span>
                    <span class="skill">Json</span>
                    <span class="skill">Xml</span>
                    <span class="skill">Python</span>
                  </ul>
                  <p class="project-description">
                    • The lead integrator and coordinator of the first NAR customer Cloud deployments of SCCAS(NTAS) (Nokia Telecom Application Server platform) and BRDB (Redis Platform) for the AT&T ECOMP environment
                    • Base on the large data set that AT&T (Gold Standard) provides, I weekly update the Cloud Service Archive (CSAR) on GitHub to meet the requirements of AT&T Master Service Orchestrators (MSO) compliance and to align the configuration data into this CSAR.
                    • Modify the CSAR in TOSCA specification to standardize how AT&T describes software applications and the infrastructure components that are required for them to run in the cloud.
                    • Create python and shell script to automate Linux command, package CSAR with configuration files (YAML and JSON) and deploy the CSAR into the OpenStack cloud orchestration layer for a lifecycle from creation to termination by using Redhat Linux.
                    • Run ansible playbook to bring up the application server GUI, monitor the traffic and alarms and execute configuration file (XML) into the system to bring up the containers. 
                    • Create Method of Procedure test environment, execute a test plan to audit all configuration data in the system before delivering the CSAR to the customer.
                    • Validate the procedures with AT&T engineers during maintenance window and support services after the CSAR deployed in the customer cloud data centers.
                  </p>
                </div>
              </div>
            </div>
          </section>
          <section class="project-showcase">
            <div class="row">
              <div class="six columns u-pull-left" style="position: relative;right: -35px" >
              <img src="img/projects/imac.jpg" class="project-image" style="width: 350px; "></div>
              <div class="six columns u-pull-right" style="position: relative;right: 128px">
                <div class="project-content text-right" style="position: relative; top: 50px;">
                  <h3 class="project-title">Remote Delivery Center Innovation Portal</h3>
                  <ul class="project-tags">
                    <span class="skill">Drupal</span>
                    <span class="skill">css</span>
                    <span class="skill">html</span>
                    <span class="skill">js</span>
                  </ul>
                  <p class="project-description"> I have created a Drupal website for our colleagues to submit any innovative ideas. You can vote on other people’s ideas even comment on ways to make the idea better. This will enable us to identify people that can work on the higher rated ideas. </p>
                </div>
              </div>
            </div>
          </section>     
</section>