<section id="projects" class="{% cycle '', 'bg-light-gray' %}">
<div class="container">
        <div class="row">
            <div class="col-lg-12 text-center" style="position: relative;top: -20px;">
                <h2 class="section-heading">My Work</h2>
                <h3 class="section-subheading text-muted">Want to see more examples? <a href="mailto:kinkwantsui@gmail.com">Email me</a>.</h3> 
            </div>
        </div>
    </div>


      <section class="project-showcase">
            <div class="row">
              <div class="six columns u-pull-right" style="position: relative; top: -50px; ">
              <img src="img/projects/os.jpg" class="project-image" style="width: 500px; "></div>
              <div class="six columns u-pull-left " style="position: relative;left: 260px;">
                <div class="project-content text-left">
                  <h3 class="project-title">Cloud virtualized IP Multimedia Subsystem (vIMS)</h3>
                  <ul class="project-tags">
                    <span class="skill">Openstack</span>
                    <span class="skill">isc</span>
                    <span class="skill">cts</span>
                    <span class="skill">3cdb</span>
                  </ul>
                  <p class="project-description">Provide service on how to install LCP based NE in a cloud environment using a Cloud Service Archive and enter data to integrate the application into the customer s cloud orchestration layer, also execute a test plan to verify that all configuration data is correct.</p>
                </div>
              </div>
            </div>
          </section>
          <section class="project-showcase">
            <div class="row">
              <div class="six columns u-pull-left" style="position: relative;right: -35px" >
              <img src="img/projects/imac.jpg" class="project-image" style="width: 350px; "></div>
              <div class="six columns u-pull-right" style="position: relative;right: 128px">
                <div class="project-content text-right" style="position: relative; top: 50px;">
                  <h3 class="project-title">Remote Delivery Center Innovation Portal</h3>
                  <ul class="project-tags">
                    <span class="skill">Drupal</span>
                    <span class="skill">css</span>
                    <span class="skill">html</span>
                    <span class="skill">js</span>
                  </ul>
                  <p class="project-description"> I have created a Drupal website for our colleagues to submit any innovative ideas. You can vote on other people’s ideas even comment on ways to make the idea better. This will enable us to identify people that can work on the higher rated ideas. </p>
                </div>
              </div>
            </div>
          </section>     
</section>